<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="reset()">
    <mat-icon>undo</mat-icon>
  </button>
</mat-toolbar>

<fieldset>
  <legend>Canvas</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="canvasBackgroundColor"
      >Background Color</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="canvasBackgroundColor"
      type="color"
      [value]="settingsStore.canvasBackgroundColor()"
      (change)="
        settingsStore.updateCanvasBackgroundColor($any($event.target).value)
      "
    />
  </div>
</fieldset>

<fieldset>
  <legend>Zoom</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomStep">Step</mat-label>
    <mat-slider min="0.01" max="0.5" step="0.01" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomStep"
        matSliderThumb
        [value]="settingsStore.zoom.step()"
        (valueChange)="settingsStore.updateZoomStep($event)"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomMin">Min</mat-label>
    <mat-slider min="0.01" max="1" step="0.01" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomMin"
        matSliderThumb
        [value]="settingsStore.zoom.min()"
        (valueChange)="settingsStore.updateZoomMin($event)"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomMax">Max</mat-label>
    <mat-slider min="1" max="100" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomMax"
        matSliderThumb
        [value]="settingsStore.zoom.max()"
        (valueChange)="settingsStore.updateZoomMax($event)"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Selection</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionWidth">Width</mat-label>
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="selectionWidth"
        matSliderThumb
        [value]="settingsStore.selection.width()"
        (valueChange)="settingsStore.updateSelectionWidth($event)"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionStrokeStyle"
      >Stroke Style</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="selectionStrokeStyle"
      type="color"
      [value]="settingsStore.selection.strokeStyle()"
      (change)="
        settingsStore.updateSelectionStrokeStyle($any($event.target).value)
      "
    />
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionDistance"
      >Distance</mat-label
    >
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="selectionDistance"
        matSliderThumb
        [value]="settingsStore.selection.distance()"
        (valueChange)="settingsStore.updateSelectionDistance($event)"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Hover</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverThreshold">Threshold</mat-label>
    <mat-slider min="1" max="20" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverThreshold"
        matSliderThumb
        [value]="settingsStore.hover.threshold()"
        (valueChange)="settingsStore.updateHoverThreshold($event)"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverWidth">Width</mat-label>
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverWidth"
        matSliderThumb
        [value]="settingsStore.hover.width()"
        (valueChange)="settingsStore.updateHoverWidth($event)"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverStrokeStyle"
      >Stroke Style</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="hoverStrokeStyle"
      type="color"
      [value]="settingsStore.hover.strokeStyle()"
      (change)="settingsStore.updateHoverStrokeStyle($any($event.target).value)"
    />
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverDistance">Distance</mat-label>
    <mat-slider min="1" max="10" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverDistance"
        matSliderThumb
        [value]="settingsStore.hover.distance()"
        (valueChange)="settingsStore.updateHoverDistance($event)"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Preview</legend>
  <div class="setting-field">
    <mat-label class="setting-label" for="previewColor">Color</mat-label>
    <input
      class="setting-input"
      matInput
      id="previewColor"
      type="color"
      [value]="settingsStore.preview.color()"
      (change)="settingsStore.updatePreviewColor($any($event.target).value)"
    />
  </div>
</fieldset>
