<fieldset>
  <legend>Canvas</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="canvasBackgroundColor"
      >Background Color</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="canvasBackgroundColor"
      type="color"
      [(ngModel)]="canvasBackgroundColor"
    />
  </div>
</fieldset>

<fieldset>
  <legend>Zoom</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomStep">Step</mat-label>
    <mat-slider min="0.01" max="0.5" step="0.01" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomStep"
        matSliderThumb
        [(ngModel)]="zoomStep"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomMin">Min</mat-label>
    <mat-slider min="0.01" max="1" step="0.01" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomMin"
        matSliderThumb
        [(ngModel)]="zoomMin"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="zoomMax">Max</mat-label>
    <mat-slider min="1" max="100" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="zoomMax"
        matSliderThumb
        [(ngModel)]="zoomMax"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Selection</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionWidth">Width</mat-label>
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="selectionWidth"
        matSliderThumb
        [(ngModel)]="selectionWidth"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionStrokeStyle"
      >Stroke Style</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="selectionStrokeStyle"
      type="color"
      [(ngModel)]="selectionStrokeStyle"
    />
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="selectionDistance"
      >Distance</mat-label
    >
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="selectionDistance"
        matSliderThumb
        [(ngModel)]="selectionDistance"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Hover</legend>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverThreshold">Threshold</mat-label>
    <mat-slider min="1" max="20" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverThreshold"
        matSliderThumb
        [(ngModel)]="hoverThreshold"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverWidth">Width</mat-label>
    <mat-slider min="1" max="5" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverWidth"
        matSliderThumb
        [(ngModel)]="hoverWidth"
      />
    </mat-slider>
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverStrokeStyle"
      >Stroke Style</mat-label
    >
    <input
      class="setting-input"
      matInput
      id="hoverStrokeStyle"
      type="color"
      [(ngModel)]="hoverStrokeStyle"
    />
  </div>

  <div class="setting-field">
    <mat-label class="setting-label" for="hoverDistance">Distance</mat-label>
    <mat-slider min="1" max="10" step="1" showTickMarks discrete>
      <input
        class="setting-input"
        id="hoverDistance"
        matSliderThumb
        [(ngModel)]="hoverDistance"
      />
    </mat-slider>
  </div>
</fieldset>

<fieldset>
  <legend>Preview</legend>
  <div class="setting-field">
    <mat-label class="setting-label" for="previewColor">Color</mat-label>
    <input
      class="setting-input"
      matInput
      id="previewColor"
      type="color"
      [(ngModel)]="previewColor"
    />
  </div>
</fieldset>
