fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.setting-field {
  display: flex;
  flex-direction: row;
}

.setting-label {
  flex: 1 0 100px;
  margin-right: 10px;
}

.setting-input {
  flex: 0 1 50px;
  margin-left: auto;
}
