<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="dispose()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <button mat-icon-button (click)="test()">
    <mat-icon>brush</mat-icon>
  </button>
  <p class="last-rendering">
    Last Rendering: {{ now() | date: "HH:mm:ss:SSS" }}
  </p>
</mat-toolbar>
<div
  id="canvasFrame"
  [style.width]="canvasWidth() + 10 + 'px'"
  [style.height]="canvasHeight() + 10 + 'px'"
>
  <canvas
    #canvas
    id="canvas"
    class="canvas"
    [attr.width]="canvasWidth()"
    [attr.height]="canvasHeight()"
    [style.background-color]="canvasBackgroundColor"
    >Canvas</canvas
  >
</div>
